<mat-tab-group class="shipping-card">
  <mat-tab label="Login">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="loginOnSubmit()">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off">
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Login</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Register">
    <form [formGroup]="regForm" novalidate (ngSubmit)="regOnSubmit()">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="First name" formControlName="firstName" autocomplete="off">
                <mat-error *ngIf="regForm.controls['firstName'].hasError('required')">
                  First name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Last name" formControlName="lastName" autocomplete="off">
                <mat-error *ngIf="regForm.controls['lastName'].hasError('required')">
                  Last name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off">
                <mat-error *ngIf="regForm.controls['email'].hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off">
                <mat-error *ngIf="regForm.controls['password'].hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput [matDatepicker]="myDatepicker" autocomplete="off" placeholder="Date of Birth" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error *ngIf="regForm.controls['dob'].hasError('required')">
                  DOB is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="SSN" formControlName="ssn" autocomplete="off">
                <mat-error *ngIf="regForm.controls['ssn'].hasError('required')">
                  SSN is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>