<mat-tab-group class="shipping-card" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Login">
    <form [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off" required>
                <mat-error *ngIf="!loginForm.controls['email'].valid">
                  Incorrect Email Format
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off" required>
                <mat-error *ngIf="!loginForm.controls['password'].valid">
                  Minimum length 10
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Register">
    <form [formGroup]="regForm" (ngSubmit)="regOnSubmit()">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="First Name" formControlName="firstName" autocomplete="off" required>
                <mat-error *ngIf="!regForm.controls['firstName'].valid">
                  First Name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Last Name" formControlName="lastName" autocomplete="off" required>
                <mat-error *ngIf="!regForm.controls['lastName'].valid">
                  Last name is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off" required>
                <mat-error *ngIf="!regForm.controls['email'].valid">
                  Incorrect Email Format
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" autocomplete="off" required>
                <mat-error *ngIf="!regForm.controls['password'].valid">
                  Minimum length 10
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput type="text" placeholder="SSN" formControlName="SSN" autocomplete="off" required>
                <mat-error *ngIf="!regForm.controls['SSN'].valid">
                  Length should be 9
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput [matDatepicker]="myDatepicker" autocomplete="off" placeholder="Date of Birth"
                  formControlName="DOB" required>
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error *ngIf="!regForm.controls['DOB'].valid">
                  DOB is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit"  [disabled]="!regForm.valid">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: #fff"> Loading... </p>
</ngx-spinner>