<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
        <img class="navbar-brand-full ng-star-inserted" src="assets/img/brand/experian_white.png" width="115"
            height="55" alt="Drome Logo">
        <div class="custom_header_text"> &nbsp; Debt Relief </div>
        <span class="menu-spacer"></span>
        <div>
            <!-- <a mat-button [routerLink]="'/'"> Registration </a> -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mat-app-background" style="background-color: white !important;">
    <router-outlet></router-outlet>
</div>