<!-- <img class="ex-img-position" src="assets/img/brand/home-about-us.png" alt=""
    style="position: fixed; top: 100px; right: 20px; height: auto; max-width: 100%; display: inline-block; vertical-align: middle; border: 0; pointer-events: none;"> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button> -->
        <img class="navbar-brand-full ng-star-inserted" src="assets/img/brand/experian_white.png" width="115"
            height="55" alt="Experian Logo">
        <div class="custom_header_text"> &nbsp; Debt Relief </div>
        <span class="menu-spacer"></span>
        <div *ngIf="user_profile.score && user_profile.score.length > 0">
            <a mat-button [routerLink]="'/profile'"> Profile </a>
            <a mat-button (click)="logout()"> Logout </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="mat-app-background" style="background-color: white !important;">
    <router-outlet></router-outlet>
</div>