<div class="subscriber-container" *ngIf="!post" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
        <div style="padding-bottom: 1em">
            <label style="font-size: x-large"><strong>Subscriber Details: </strong></label>
        </div>

        <mat-form-field class="form-element">
            <mat-select placeholder="Subscriber" formControlName="subscriberId">
                <mat-option *ngFor="let item of subscriberList" type='text' [value]="item.subscriberId">{{item.subscriberName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="!formGroup.controls['subscriberId'].valid && formGroup.controls['subscriberId'].touched">
                This Value is Required
            </mat-error>
        </mat-form-field>

        <p style="margin: 0">Credit Score Range: </p>

        <mat-form-field class="form-element">
            <input matInput type="number" placeholder="From" formControlName="creditScoreFrom">
            <mat-error *ngIf="!formGroup.controls['creditScoreFrom'].valid && formGroup.controls['creditScoreFrom'].touched">
                This Value is Required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput type="number" placeholder="To" formControlName="creditScoreTo">
            <mat-error *ngIf="!formGroup.controls['creditScoreTo'].valid && formGroup.controls['creditScoreTo'].touched">
                This Value is Required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-select placeholder="Debt Relief Option" formControlName="debtReliefOption">
                <mat-option type='text' value="DP">Deferred Payments</mat-option>
                <mat-option type='text' value="RT">Refinance with longer repayment terms</mat-option>
                <mat-option type='text' value="RI">Reduce interest rates</mat-option>
                <mat-option type='text' value="RP">Reduce payment amt</mat-option>
                <mat-option type='text' value="WF">Waived late fees</mat-option>
            </mat-select>
            <mat-error *ngIf="!formGroup.controls['debtReliefOption'].valid && formGroup.controls['debtReliefOption'].touched">
                Select a Value
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput type='number' placeholder="Debt Relief Value" formControlName="debtReliefValue">
            <mat-error *ngIf="!formGroup.controls['debtReliefValue'].valid && formGroup.controls['debtReliefValue'].touched">
                Value is Required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-select placeholder="Loan Type" formControlName="loanType">
                <mat-option type='text' value="00">AUTO LOAN</mat-option>
                <mat-option type='text' value="3A">AUTO LEASE</mat-option>
                <mat-option type='text' value="18">CREDIT CARD</mat-option>
                <mat-option type='text' value="26">CONVENTIONAL REAL ESTATE MORTGAGE</mat-option>
                <mat-option type='text' value="07">REV CHARGE ACCOUNT</mat-option>
                <mat-option type='text' value="12">STUDENT LOAN</mat-option>
                <mat-option type='text' value="92">UTILITY COMPANY</mat-option>
                <mat-option type='text' value="4D">CELLULAR PHONE</mat-option>
            </mat-select>
            <mat-error *ngIf="!formGroup.controls['loanType'].valid && formGroup.controls['loanType'].touched">
                Select a Value
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
        </div>

    </form>
</div>
