<mat-card>
    <mat-card-title>
        Profile
    </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="First Name" value="{{userProfile.firstName}}" readonly>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Last Name" value="{{userProfile.lastName}}" readonly>
                </mat-form-field>
            </div>
        </div>
        <span class="row" style="float: right; margin-right: 40%; margin-top: -6em">
            <!--<legend>Credit Score: </legend>-->
            <ngx-gauge [min]="0" [max]="800" [size]="280" [thick]="15"
                       [type]="gaugeType"
                       [value]="gaugeValue"
                       [label]="gaugeLabel"
                       [thresholds]="thresholdConfig">
            </ngx-gauge>
        </span>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Email" value="{{userProfile.email}}" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Date of Birth" value="{{userProfile.DOB}}" readonly>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="SSN" value="{{userProfile.SSN}}" readonly>
                </mat-form-field>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Pin" value="{{userProfile.pin}}" readonly>
                </mat-form-field>
            </div>
        </div> -->
        <!--<div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Score" value="{{userProfile.score}}" readonly>
                </mat-form-field>
            </div>
        </div>-->
    </mat-card-content>
</mat-card>